@import '../../../styles/variables';

.root {
  position: relative;
  background-color: #fafafa;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;

  & > .content {
    position: relative;
    background-color: $NEUTRAL1;
    max-width: 512px;
    height: 100%;
    margin: 0 auto;
    overflow-y: auto;
  }
}

@media only screen and (max-device-width: 512px) and (max-width: 512px) {
  .root {
  }
}
