@import '../../styles/variables';

.root {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: $NEUTRAL2;
  min-height: 100vh;
}

.form_container {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  padding: 0.4rem;
}

.input_container {
  & > p {
    font-size: $font-sm;
    color: $NEUTRAL10;
    margin-bottom: 1.4rem;
  }
}

.two_input {
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
  gap: 2rem;
}

.input_two {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  & > *:first-child {
    width: 90%;
  }
}
