@import '../../../styles/variables';

.form_card {
  &__action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    &_name {
      line-height: 2rem;
    }
  }

  &__address {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 16px;     /* fallback */
      max-height: 32px;      /* fallback */
      -webkit-line-clamp: 2; /* number of lines to show */
      -webkit-box-orient: vertical;
    }

  &__content {
    display: flex;
      gap: 1.6rem;
  }

  &__information {
    & > p {
      color: $NEUTRAL6;
    }
  }
}
