@import '../../styles/variables';

.root {
  flex-direction: column;
  gap: 2rem;
  background-color: $NEUTRAL2;
  min-height: 100vh;
}

.list_container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  background-color: $NEUTRAL1;
  margin: 2rem;
  border-radius: 1.5rem;
  margin-bottom: 10rem;

  &_content {
    position: absolute;
    left: 0;
    margin-top: 1rem;
    background-color: $NEUTRAL1;
    width: 100%;
    height: fit-content;
    max-height: 30rem;
    box-shadow: 0 1px 20px 4px rgba($color: $NEUTRAL10, $alpha: 0.1);
    z-index: 25;
    border-radius: 1.2rem;

    &_list {
      padding: 1.6rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      & > li {
        padding: 1rem;
        border-radius: 0.8rem;
        cursor: pointer;
        font-size: $font-sm;

        &:hover {
          background-color: $NEUTRAL2;
        }
      }
    }
  }
}

.form {
  &_root {
    max-width: 520px;
    min-height: 70vh;
    padding: 1.7rem;
    background-color: $NEUTRAL2;
  }

  &_container {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    background-color: $NEUTRAL1;
    padding: 2rem;
    border-radius: 1.5rem;
  }
}

.input_container {
  & > p {
    font-size: $font-sm;
    color: $NEUTRAL10;
    margin-bottom: 1.4rem;
  }
}

.detail_title{
   border-top: 1.5px solid $NEUTRAL3;
   padding-top: 15px;
  }

.input_range{
  height: 33px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  &:focus {
    outline: none;
  }
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #D8D8D8;
    border-radius: 4px;
    border: 0px solid #010101;
  }
  &::-webkit-slider-thumb {
    box-shadow: 1px 1px 3px #000031;
    border: 0px solid #1E1E1E;
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7.5px;
  }
  &:focus::-webkit-slider-runnable-track {
    background: #D8D8D8;
  }
  &::-moz-range-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #D8D8D8;
    border-radius: 4px;
    border: 0px solid #010101;
  }
  &::-moz-range-thumb {
    box-shadow: 1px 1px 3px #000031;
    border: 0px solid #1E1E1E;
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #FFFFFF;
    cursor: pointer;
  }
  &::-ms-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
    
  &::-ms-fill-lower {
    background: #D8D8D8;
    border: 0px solid #010101;
    border-radius: 8px;
    box-shadow: 0px 0px 0px #000000;
  }
  &::-ms-fill-upper {
    background: #D8D8D8;
    border: 0px solid #010101;
    border-radius: 8px;
    box-shadow: 0px 0px 0px #000000;
  }
  &::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 3px #000031;
    border: 0px solid #1E1E1E;
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #FFFFFF;
    cursor: pointer;
  }
  &:focus::-ms-fill-lower {
    background: #D8D8D8;
  }
  &:focus::-ms-fill-upper {
    background: #D8D8D8;
  }
}

.qualityContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}