@import '../../../../styles/variables';

.root {
  box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.08);
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 512px;
  background-color: $NEUTRAL1;
  z-index: 20;
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > div {
    z-index: 20;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

@media only screen and (max-device-width: 512px) and (max-width: 512px) {
  .root {
    width: 100%;
  }
}
