@import '../../../styles/variables.scss';

@mixin flexAllCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dash {
  border: 0 none;
  border-top: 1px dashed $NEUTRAL4;
  background: none;
  height: 0;
  width: 100%;
}

.step_container {
  text-align: center;
  width: 100%;
  @include flexAllCenter();
}

.step_round {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid $NEUTRAL4;
  cursor: pointer;
  @include flexAllCenter();

  & > .step_dots {
    width: 0.8rem;
    height: 0.8rem;
    background-color: $BRAND1;
    border-radius: 50%;
    margin: 0;
  }

  &.current {
    color: $BRAND1;
    background-color: $BRAND1_ACCENT;
    border-color: $BRAND1;

    & > .step_dots {
      width: 1rem;
      height: 1rem;
      background-color: $NEUTRAL1;
      border-radius: 50%;
      margin: 0;
    }
  }

  &.done {
    color: $NEUTRAL1;
    background-color: $BRAND1;
    border-color: $BRAND1;

    & > .step_dots {
      width: 0.5rem;
      height: 1rem;
      background-color: $BRAND1;
      border-bottom: 2px solid $NEUTRAL1;
      border-right: 2px solid $NEUTRAL1;
      border-radius: 0;
      transform: rotate(45deg);
      margin-bottom: 0.5rem;
    }
  }
}
