@import '../../../../styles/variables';

.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.4rem 2rem;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.08);
  height: 4rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;

  & > div {
    display: flex;
    align-items: center;
    gap: 1.8rem;
  }
}

.navigation {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.profile_picture {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}
