@import '../../../styles/variables';

.header {
  position: sticky;
  top: 0;
  background-color: $NEUTRAL1;
  z-index: 20;
  border-bottom-left-radius: 1.6rem;
  border-bottom-right-radius: 1.6rem;
}
.root {

  &_search {
      padding: 0 2rem 2rem 2rem;
      position: sticky;
  }
}
