@import '../../../styles/variables';

.product_input {
  display: flex;
  gap: 1.6rem;
}

p {
    font-size: $font-sm;
    margin-bottom: 1rem;
    color: $NEUTRAL10;
  }

.input_number_btn {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  border: 1px solid $NEUTRAL3;
  border-radius: 0.8rem;
  padding: 0.8rem;
  justify-content: space-between;
  background-color: $NEUTRAL1;

  &:hover,
  &:focus {
    border-color: $BRAND1_ACCENT;
    box-shadow: 0 1px 1px rgba($color: $BRAND1_ACCENT, $alpha: 0.5);
  }

  & > * {
    line-height: 0;
  }

  & > span {
    cursor: not-allowed;
    width: 50%;
    text-align: center;
  }
}
