@import '../../../styles/variables';

.root {
  position: relative;
  background-color: #fafafa;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;

  & > .container {
    position: relative;
    background-color: $NEUTRAL1;
    max-width: 512px;
    height: 100%;
    margin: 0 auto;
    overflow-y: auto;

    & > .content {
      background-color: $NEUTRAL2;
      height: 100%;
      padding: 2rem;
    }
  }
}

@media only screen and (max-device-width: 512px) and (max-width: 512px) {
}
