@import '../../../styles/variables';


.buttons{
  border: 1px dashed $NEUTRAL5;
  width: 100%;
  height: 80px;
  border-radius: 15px;
  color: $BRAND1_ACCENT;
  font-weight: 600;
  font-size: $font-sm;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media only screen and (max-device-width: 512px) and (max-width: 512px) {
}
