@import '../../styles/variables';

.root {
  flex-direction: column;
  gap: 2rem;
  background-color: $NEUTRAL2;
  min-height: 100vh;
}

.list_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.form {
  &_root {
    max-width: 520px;
    min-height: 70vh;
    padding: 1.7rem;
    background-color: $NEUTRAL2;
  }

  &_container {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    background-color: $NEUTRAL1;
    padding: 2rem;
    border-radius: 1.5rem;
    margin-bottom: 10rem;
  }
}
