@import '../../../../styles/variables';

.root {
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.08);
  position: sticky;
  top: 0;
  background-color: $NEUTRAL1;
  z-index: 20;
  width: 512px;
  max-width: 512px;
}

.stepper_container {
  width: 100%;
  // background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;

  & > * {
    padding: 2rem;
  }
}

@media only screen and (max-device-width: 512px) and (max-width: 512px) {
  .root {
    width: 100%;
  }
}
