@import '../../../styles/variables';

.table {
  & > header {
    display: flex;
    align-items: center;
    flex: 1;
  }

  &_header__col {
    padding: 1.6rem 1rem;
    font-weight: 600;
    color: $NEUTRAL10;
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }

  &_body {
    border-top: 1px solid $NEUTRAL2;
    border-bottom: 1px solid $NEUTRAL2;
    padding: 0.6rem 0;

    &__row {
      background-color: $NEUTRAL1;
      display: flex;
      align-items: center;
      color: $NEUTRAL10;

      &[data-even='true'] {
        background-color: $NEUTRAL2;
      }
    }

    &__col {
      padding: 1.6rem;
    }
  }

  & > footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
}

.sort_btn {
  display: grid;
  place-content: center;
  cursor: pointer;
}
