@import '../../../styles/variables';

.form_card {
  &__action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    &_name {
      display: flex;
      align-items: center;
      gap: 1.6rem;
    }
  }

  &__icon {
    width: 4rem;
    height: 4rem;
    border-radius: 0.8rem;
    background-color: $NEUTRAL3;
  }

  &__information {
    & > p {
      color: $NEUTRAL6;
    }
  }
}
