@import '../../styles/variables';

.root {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: $NEUTRAL2;
  min-height: 100vh;
}

.page_header {
  padding: 2rem;
  background-color: $BRAND1;
  height: 8rem;
  display: flex;
  align-items: center;
  border-bottom-left-radius: 1.6rem;
  border-bottom-right-radius: 1.6rem;

  & > h1 {
    font-size: $font-xl;
    color: $NEUTRAL1;
    font-weight: 600;
  }
}

.list_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}
