@import '../../../styles/variables';

.root {
  position: relative;
}

.content {
  position: absolute;
  left: 0;
  margin-top: 1rem;
  background-color: $NEUTRAL1;
  width: 100%;
  height: fit-content;
  max-height: 30rem;
  box-shadow: 0 1px 20px 4px rgba($color: $NEUTRAL10, $alpha: 0.1);
  z-index: 25;
  border-radius: 1.2rem;

  &_list {
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    & > li {
      padding: 1rem;
      border-radius: 0.8rem;
      cursor: pointer;
      font-size: $font-sm;

      &:hover {
        background-color: $NEUTRAL2;
      }
    }
  }

  &_search {
    padding: 0 1.6rem;
    padding-top: 1.6rem;
    position: sticky;
    top: 0;
  }
}
