.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  padding: 2rem;

  & > div:first-child,
  & > div:last-child {
    width: 15%;
  }

  & > div:first-child {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  & > div:last-child {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  & > h4,
  & > h3 {
    flex: 1;
    text-align: center;
    width: 70%;
  }
}

.icon {
  width: 4rem;
  height: 4rem;
  display: grid;
  place-content: center;
}
