@import '../../../styles/variables';

.header {
  position: sticky;
  top: 0;
  background-color: $NEUTRAL1;
  z-index: 20;
}

.root {

   &_search {
      padding: 0 2rem 2rem 2rem;
      position: sticky;
  }

  & > .container {
    position: relative;
    background-color: $NEUTRAL1;
    max-width: 512px;
    height: 100%;
    margin: 0 auto;
    overflow-y: auto;
    border-bottom-left-radius: 1.6rem;
    border-bottom-right-radius: 1.6rem;

    & > .content {
      background-color: $NEUTRAL2;
      height: 100%;
      padding: 2rem;
    }
  }
}
